.App {
  text-align: center;
  background-color: #DFF0EF;
}

#root {
  background-color: '#DFF0EF';
}

.btn-minty {
  color: #fff;
  background-color: #35C4BA;
  border-color: #35C4BA;
}

.btn-mint {
  background-color: purple;
  color: white;
}