code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'AvenirNext';
  src: local('AvenirNext'), url(./fonts/AvenirNext-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'AvenirNext';
  src: local('AvenirNext'), url(./fonts/AvenirNext-DemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'AvenirNext';
  src: local('AvenirNext'), url(./fonts/AvenirNext-Heavy.ttf) format('truetype');
}

@font-face {
  font-family: 'AvenirNext';
  src: local('AvenirNext'), url(./fonts/AvenirNext-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'AvenirNext';
  src: local('AvenirNext'), url(./fonts/AvenirNext-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'AvenirNext';
  src: local('AvenirNext'), url(./fonts/AvenirNext-UltraLight.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'AvenirNext', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: '#DFF0EF';
}